/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
	background: url(img/bg.jpg);
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}


@font-face{
	font-family: 'Fjalla One';
	src: url(fonts/FjallaOne/FjallaOne-Regular.eot);
	src: url(fonts/FjallaOne/FjallaOne-Regular.ttf);
}

@font-face{
	font-family: 'Source Sans Pro';
	src: utl(fonts/SourceSansPro/SourceSansPro-Regular.eot);
	src: utl(fonts/SourceSansPro/SourceSansPro-Regular.ttf);
}

body {
	font: 12px/18px Arial, sans-serif;
	background-image: url("img/bg.jpg");
}

.banner {
	background-image: url("img/banner.jpg");
	background-repeat: no-repeat;
	background-position: center 0px;
}


.wrapper {
	width: 1170px;
	margin: 0 auto;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 79px;
	width: 1170px;
	background-image: url(img/header.png);
}


.logo {
	font-family: 'Fjalla One', sans-serif;
	font-size: 25px;
	color: white;
	padding: 30px;
	height: 79px;
	float: left;
	margin-right: 700px;
}

.navigation{
	font-family: 'Fjalla One', sans-serif;
	font-size: 17px;
	float: clear;
	height: 79px;
	padding-top: 29px;
}

a.a1:link{
	padding-right: 17px;
	padding-left: 17px;
}

a.a2:link{
	padding-right: 17px;
	padding-left: 17px;
}

a.a3:link{
	padding-right: 17px;
	padding-left: 17px;
}

a.a4:link{
	padding-right: 17px;
	padding-left: 17px;
}

a.a1:hover{
	background: red;
	padding-right: 17px;
	padding-left: 17px;
}

a.a2:hover{
	background: red;
	padding-right: 17px;
	padding-left: 17px;
}

a.a3:hover{
	background: red;
	padding-right: 17px;
	padding-left: 17px;
}

a.a4:hover{
	background: red;
	padding-right: 17px;
	padding-left: 17px;
}

a:link {
	text-decoration: none;
	padding-top: 30px;
	padding-bottom: 30px;
	color: white;
}

a:active{
	text-decoration: none;
	color: white;
}

a:visited {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: none;
	color: white;
	background: black
}
.ss1 {
	font-size: 41px;
	font-family: 'Fjalla One', sans-serif;
	color: white;
	letter-spacing: 5px;
}

.ss2 {
	font-size: 31px;
	font-family: 'Fjalla One', sans-serif;
	color: white;
	padding-top: 40px;
	padding-bottom: 20px;
	letter-spacing: 5px;
}

.bannertxt {
	margin-top: 13%;
	margin-bottom: 13%;
	margin-left: 15%;
	margin-right: 15%;
	text-align: center;
}


a.button1 {
	width: 142px;
	height: 25px;
	font-family: 'Fjalla One', sans-serif;
	display: inline-block;
	color: white;
	font-size: 17px;
	padding-top: 15px;
	padding-bottom: 5px;
	outline: none;
	border: 2px solid;
	transition: 0.2s;
} 


a.button1:hover { 
	background: rgba(255,255,255,.2); 
	}

a.button1:active { 
	background: white; 
	}

/* Middle
-----------------------------------------------------------------------------*/
.content {
	width: 1170px;
}

.contof4 {
	width: 1170px;
	overflow: auto;
}

.ctext{
	font-size: 16px;
	margin-left: 12%;
	margin-right: 12%;
}

.cont1 {
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	color: white;
	width: 585px;
	height: 336px;
	float: left;
	background: #E84C3D;
}

.cont2 {
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	color: white;
	width: 585px;
	height: 336px;
	float: right;
	background: #fDBD1F;
}

.cont3 {
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	color: white;
	width: 585px;
	height: 336px;
	float: left;
	background: #1BBC9B;
}

.cont4 {
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	color: white;
	width: 585px;
	height: 336px;
	float: right;
	background: #9B58B5;
}

.items {
	margin-top: 12%;
	border-radius: 100px;
	background-color: white;
}

.upper {
	font-size: 29px;
	font-family: 'Fjalla One', sans-serif;
	color: white;
	padding: 20px;
}

.upper2 {
	font-size: 29px;
	font-family: 'Fjalla One', sans-serif;
	color: white;
	margin: 34px;
}


.chr {
	text-align: center;
	color: white;
	font-size: 21px;
	font-family: 'Fjalla One', sans-serif;
	padding-top: 80px;
	padding-bottom: 82px;
}

hr.hr1 {
	border: none;
	height: 1px;
	width: 121px; 
	color: #4682B4;
	background-color: #4682B4;
	display: inline-block;
	margin: 3px 4px 10px 10px;
}

.items2 {
	margin-top: 12%;
	margin-bottom: 12%;
	border-radius: 100px;
}


.c3txt{
	font-family: 'Source Sans Pro', sans-serif;
	color: white;
	font-size: 16px;
	margin: 5%;
	color: #87CEFA;
	font-weight: 200;
	line-height: 1.5;
}

.fi {
	width: 370px;
	height: 497px;
	float: left;
	margin-right: 30px;
	background-image: url(img/content2/first.png);
	text-align: center;
}

a.button2 {
	width: 102px;
	height: 25px;
	display: inline-block;
	background: #CA4D40;
	transition: 0.2s;
	padding-top: 10px;
	color: white;
	font-family: 'Fjalla One', sans-serif;
	font-size: 15px;
} 

a.button2:hover { 
	background: rgba(255,255,255,.2); 
	cursor: pointer;
	}

a.button2:active { 
	background: white; 
	}


.se {
	width: 370px;
	height: 497px;
	float: left;
	margin-right: 30px;
	background-image: url(img/content2/second.png);
	text-align: center;
}

a.button3 {
	width: 102px;
	height: 25px;
	display: inline-block;
	background: #EDBC37;
	transition: 0.2s;
	padding-top: 10px;
	color: white;
	font-family: 'Fjalla One', sans-serif;
	font-size: 15px;
} 

a.button3:hover { 
	background: rgba(255,255,255,.2); 
	cursor: pointer;
	}

a.button3:active { 
	background: white; 
	}

.th {
	width: 370px;
	height: 497px;
	float: left;
	background-image: url(img/content2/third.jpg);
	text-align: center;
}

a.button4 {
	width: 102px;
	height: 25px;
	display: inline-block;
	background: #40E0D0;
	transition: 0.2s;
	padding-top: 10px;
	color: white;
	font-family: 'Fjalla One', sans-serif;
	font-size: 15px;
} 

a.button4:hover { 
	background: rgba(255,255,255,.2); 
	cursor: pointer;
	}

a.button4:active { 
	background: white; 
	}

.imail {
	margin-left: 45%;
	margin-top: 100px;
	margin-bottom: 100px;
	border-radius: 100px;
	background-color: white;
}


.sublet {
	margin-left: 301.5px;
}

textarea {
	width: 567px;
	height: 123px;
	resize: none;
	background-image: url(img/content3/textarea.png);
	border: none;
	margin-bottom: 30px;
}

.txt1 {
	width: 270px;
	height: 44px;
	background-image: url(img/content3/text.png);
	border: none;
	margin-right: 15px;
	margin-bottom: 30px;
}

 .txt2 {
	width: 270px;
	height: 44px;
	background-image: url(img/content3/text.png);
	border: none;
	margin-left: 15px;
	margin-bottom: 30px;
}

.subm {
	
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
	clear: left;
	width: 100%;
	min-width: 1170px;
	height: 200px;
	background-image: url(img/footer.png);
}